<!DOCTYPE html>
{% extends 'basic_app/index.html' %}


{% block body_block %}

<div class="register_container">
    {% if registerd %}
        <h1>Thank You For Your Registration</h1>
    {% else %}
        <h1>Register Here</h1>

        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Register" class="submit_btn">
        </form>


    {% endif %}

</div>

{% endblock %}